{% extends "base.html" %}

{% block css %}
<style type="text/css">
.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}
</style>
{% endblock %}

{% block body %}
<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">
   <div class="card shopping-cart">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success mt-3" role="alert"></div>
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            </div>
            {% endif %}
        {% endwith %}

        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            장바구니
            <a href="/goods" class="btn btn-outline-info btn-sm pull-right">계속 쇼핑하기</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <form method="post">
                <input type="hidden" name="delete_goods_id" value="">
                <!-- PRODUCT -->
                {% for item in items %}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
                    </div>
                    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                        <h4 class="product-name"><strong>{{ item.goods_item.goods_name }}</strong></h4>
                        <h4>
                            <small>{{ item.goods_item.goods_description }}</small>
                        </h4>
                    </div>
                    <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                            <h6><strong>{{ item.goods_item.price }} <span class="text-muted">x</span></strong></h6>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4">
                            <input type="hidden" name="goods_id" value="{{ item.goods_item.id }}">
                            <div class="quantity">
                                <input type="button" value="+" class="plus" onclick="goods_quantity_adjuest('plus', this)">
                                <input type="number" step="1" max="99" min="1" value="{{ item.goods_cnt }}" title="Qty" class="qty"
                                        size="4" name="quantity">
                                <input type="button" value="-" class="minus" onclick="goods_quantity_adjuest('minus', this)">
                            </div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 text-right">
                            <button type="button" class="btn btn-outline-danger btn-xs" onclick="basket_delete('{{ item.id }}')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
                <!-- END PRODUCT -->

                <div class="pull-right">
                    <a href="#" onclick="basket_update()" class="btn btn-outline-secondary pull-right">
                        장바구니 업데이트
                    </a>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="pull-right" style="margin: 10px">
                <a href="#" onclick="payment()" class="btn btn-success pull-right">결제하기</a>
                <div class="pull-right" style="margin: 5px">
                    Total price: <b>{{ total_money }}</b>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var form = document.querySelector("form");
    var isBasketUpdate = false;

    function basket_update() {
        form.action = "/basket/update";
        form.submit()
    }

    function payment() {
        if (isBasketUpdate) {
            alert('장바구니를 업데이트해주세요');
        } else {
            form.action = "/order";
            form.submit();
        }
    }
    
    function basket_delete(goods_id) {
        if (confirm("장바구니에서 삭제하시겠습니까?")) {
            form.action = "/basket/delete";
            form.delete_goods_id.value = goods_id;
            form.submit();
        }
    }
    
    function goods_quantity_adjuest(action, elem) {
        isBasketUpdate = true;

        if (action ===  'plus') {
            var quantity_element = elem.nextElementSibling;
            quantity_element.value = parseInt(quantity_element.value) + 1;
        } else {
            var quantity_element = elem.previousElementSibling;

            if (quantity_element.value > 1) {
                quantity_element.value = parseInt(quantity_element.value) - 1;
            } else {
                alert('최소 1개는 구매해야 합니다');
            }
        }
    }
</script>
{% endblock %}