body {
  color: #4e4e4e;

  font-family: 'Roboto', sans-serif;
}
.form-control {
  background: #f2f2f2;
      font-size: 16px;
  border-color: transparent;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #91d5a8;
      background: #e9f5ee;
}
  .form-control, .btn {        
      border-radius: 2px;
  }
.login-form {
  width: 380px;
  margin: 0 auto;
}
  .login-form h2 {
      margin: 0;
      padding: 30px 0;
      font-size: 34px;
  }
.login-form .avatar {
  margin: 0 auto 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 9;
  background: #4aba70;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
  width: 100%;
}
  .login-form form {
  color: #7a7a7a;
  border-radius: 4px;
    margin-bottom: 20px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;		
  }
  .login-form .btn {
  font-size: 16px;
  line-height: 26px;
  min-width: 120px;
      font-weight: bold;
  background: #4aba70;
  border: none;		
  }
.login-form .btn:hover, .login-form .btn:focus{
  background: #40aa65;
      outline: none !important;
}
.checkbox-inline {
  margin-top: 14px;
}
.checkbox-inline input {
  margin-top: 3px;
}
  .login-form a {
  color: #4aba70;
}	
.login-form a:hover {
  text-decoration: underline;
}
.hint-text {
  color: #999;
      text-align: center;
  padding-bottom: 15px;
}
