{% extends "base.html" %}

{% block css %}
<!-- Custom styles for this template -->
<link href="/static/css/shop-homepage.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for item in goods %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                            <a href="/goods/{{ item.id }}">{{ item.goods_name }} </a>
                            </h4>
                            <h5>{{ '%d' | format(item.price) }}</h5>
                            <p class="card-text">{{ item.goods_description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                {% for item in range(item.goods_ranking) %}
                                &#9733;
                                {% endfor %}

                                {% for item in range(5 - item.goods_ranking) %}
                                    &#9734;
                                {% endfor %}
                            </small>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
{% endblock %}