{% extends "base.html" %}

{% block css %}
<style type="text/css">
.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row">
                    <aside class="col-sm-5 border-right">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div><a href="#"><img src="{{ url_for('static', filename='images/c-lang-large.png') }}"></a>
                                </div>
                            </div> <!-- slider-product.// -->
                            <div class="img-small-wrap">
                                <div class="item-gallery"><img
                                        src="{{ url_for('static', filename='images/sub_thubmnail1.png') }}"></div>
                                <div class="item-gallery"><img
                                        src="{{ url_for('static', filename='images/sub_thubmnail2.png') }}"></div>
                                <div class="item-gallery"><img
                                        src="{{ url_for('static', filename='images/sub_thubmnail3.png') }}"></div>
                                <div class="item-gallery"><img
                                        src="{{ url_for('static', filename='images/sub_thubmnail4.png') }}"></div>
                            </div> <!-- slider-nav.// -->
                        </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <aside class="col-sm-7">
                        <article class="card-body p-5">
                            <h3 class="title mb-3">C 프로그래밍</h3>

                            <p class="price-detail-wrap">
                <span class="price h3 text-warning"> 
                    <span class="currency"></span><span class="num">14,100원</span>
                </span>
                            </p> <!-- price-detail-wrap .// -->
                            <dl class="item-property">
                                <dt>설명</dt>
                                <dd><p>C 프로그래밍 언어가 갖고 있는 많은 장점으로 인해 오늘날 많은 사람이 C 언어를 배우고 사용하고 있다. 본 도서에서는 C 프로그래밍 언어의
                                    전반적인 내용을 다루며, C 언어를 처음 배우는 학생들을 위해 다양한 예제를 중심으로 C 프로그래밍 언어를 설명한다. 컴퓨터 프로그래밍 개념을 배우는
                                    가장 좋은 방법은 많은 예제를 다루는 것이 다. 명령어의 설명이나 형식적인 구문, 문법 등의 숙지만으로는 부족하며, 이러한 개념들이 실제 프로그램
                                    안에서 적용되는 방법과 실제 수행과정을 살펴봄으로써 그 언어와 프로그래밍의 개념을 확립할 수 있고, 효과적인 프로그래밍의 활용도 가능해진다. 본
                                    교재에서 다루는 다양한 예제를 이해하고 실행해 보면 C 언어를 이용한 프로그래밍 기술을 점차 습득하게 될 것이다.</p></dd>
                            </dl>


                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <dl class="param param-inline">
                                        <dt>Quantity:</dt>
                                        <dd>
                                            <select class="form-control form-control-sm" style="width:70px;">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </dd>
                                    </dl>  <!-- item-property .// -->
                                </div> <!-- col.// -->

                            </div> <!-- row.// -->
                            <hr>
                            <a href="#" class="btn btn-lg btn-primary text-uppercase"> 구매하기 </a>
                            <a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i
                                    class="fas fa-shopping-cart"></i> 장바구니에 담기 </a>
                        </article> <!-- card-body.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->
        </div>
    </div>
</div>
{% endblock %}