{% extends "base.html" %}

{% block css %}
<!-- Custom styles for this template -->
<link href="/static/css/shop-homepage.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/1"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/c-lang.png') }}" alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/1">C 프로그래밍</a>
                                </h4>
                                <h5>14,100원</h5>
                                <p class="card-text">C 프로그래밍 언어가 갖고 있는 많은 장점으로 인해 오늘날 많은 사람이 C 언어를 배우고 사용하고 있다.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/2"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/database.png') }}"
                                                    alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/2">데이터베이스 시스템</a>
                                </h4>
                                <h5>16,000원</h5>
                                <p class="card-text">이 책은 데이터베이스에서 사용되고 있는 핵심적인 이론과 기술을 폭넓게 다루고 있다</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/3"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/database_implement.png') }}"
                                                    alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/3">데이터베이스설계및구현</a>
                                </h4>
                                <h5>13,500원</h5>
                                <p class="card-text">『데이터베이스 설계 및 구현』에서는 간략한 데이터베이스에 대한 이론설명과 함께 실제 어떠한 방법으로 적용되는지 알아보기
                                    위해 수강신청 시스템을 만든다</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/4"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/internet.png') }}"
                                                    alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/4">인터넷과정보사회</a>
                                </h4>
                                <h5>15,500원</h5>
                                <p class="card-text">인터넷은 어떻게 활용하느냐에 따라 달라지는 양날의 검과도 같다. </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/5"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/internet_yunli.png') }}"
                                                    alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/5">인터넷생활윤리</a>
                                </h4>
                                <h5>11,300원</h5>
                                <p class="card-text">정보통신기술의 발달과 함께 인간의 삶은 긍정적인 방향과 부정적인 방향으로 동시에 변화를 겪고 있다.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/6"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/python.png') }}" alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/6">파이썬</a>
                                </h4>
                                <h5>31,500원</h5>
                                <p class="card-text">이 책은 누구나 쉽게 따라할 수 있는 파이썬 프로그래밍 언어에 기반하고 있기 때문에 프로그래밍을 통해 얻을 수 있는 논리
                                    능력 향상과 문제 해결력 배양에 가장 적합하다.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
</div>
{% endblock %}
