{% extends "base.html" %}

{% block css %}
<style type="text/css">
.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" action="/basket/add">
            <input type="hidden" name="goods_id" value="{{ item.id }}">
                <div class="card">
                    <div class="row">
                        <aside class="col-sm-5 border-right">
                            <article class="gallery-wrap"> 
                                <div class="img-big-wrap">
                                    <div> <a href="#"><img src="http://placehold.it/443x450"></a></div>
                                </div> <!-- slider-product.// -->
                                <div class="img-small-wrap">
                                    <div class="item-gallery"> <img src="http://placehold.it/60x60"> </div>
                                    <div class="item-gallery"> <img src="http://placehold.it/60x60"> </div>
                                    <div class="item-gallery"> <img src="http://placehold.it/60x60"> </div>
                                    <div class="item-gallery"> <img src="http://placehold.it/60x60"> </div>
                                </div> <!-- slider-nav.// -->
                            </article> <!-- gallery-wrap .end// -->
                        </aside>
                                <aside class="col-sm-7">
                        <article class="card-body p-5">
                            <h3 class="title mb-3">{{ item.goods_name }}</h3>

                        <p class="price-detail-wrap"> 
                            <span class="price h3 text-warning"> 
                                <span class="currency">KRW </span><span class="num">{{ item.price }}</span>
                            </span> 
                            <span>원</span> 
                        </p> <!-- price-detail-wrap .// -->
                        <dl class="item-property">
                        <dt>Description</dt>
                        <dd><p>{{ item.goods_description }}</p></dd>
                        </dl>
                        <p>
                            {% for item in range(item.goods_ranking) %}
                            &#9733;
                            {% endfor %}

                            {% for item in range(5 - item.goods_ranking) %}
                                &#9734;
                            {% endfor %}
                        </p>
                        <!-- item-property-hor .// -->
                        <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <dl class="param param-inline">
                                    <dt>Quantity: </dt>
                                    <dd>
                                        <select class="form-control form-control-sm" style="width:70px;" name="quantity">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </dd>
                                    </dl>  <!-- item-property .// -->
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr>
                            <a href="#" class="btn btn-lg btn-primary text-uppercase"> 지금 구매하기 </a>
                            <a href="#" onclick="basket_add()" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> 장바구니에 담기 </a>
                        </article> <!-- card-body.// -->
                        </aside> <!-- col.// -->
                    </div> <!-- row.// -->
                </div> <!-- card.// -->
            </form>
        </div>
    </div>
</div>
<script>
    function basket_add() {
        var form = document.querySelector("form")
        form.action = "/basket/add";
        form.submit();
    }
</script>
{% endblock %}